<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>HomePage</title>
</head>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader}"></div>
    <br>
        2023-02-08
        1 ) git branch Homework-sin
        2 ) src/Hackkerank Package 생성
        3 ) 숙제 해결하려 했으나 해커랭크는 다른 프로젝트임을 확인
        4 ) 그래도 열심히 작성했으니 local Homework-sin 커밋후 pull request 보내봄 헤헷
        5 ) ??
    <br>
    <div th:replace="~{fragments/footer}"></div>

</div> <!-- container -->

</body>
</html>
