<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>HomePage</title>
</head>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader}"></div>
    <br>
        갤럭시북 3 프로 라이브 방송 2월 6일 오전 11시 단 30대
    <br>
    <div th:replace="~{fragments/footer}"></div>

</div> <!-- container -->

</body>
</html>
