<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>HomePage</title>
</head>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader}"></div>
    <br>
    집 가고 싶어요 ^ㅁ^ - Yumi
    <br>
    <div th:replace="~{fragments/footer}"></div>

</div> <!-- container -->

</body>
</html>
